<div class="container-fluid foot">
    <div class="container">
<footer class="py-5">
<div class="row">
<div class="col-6 col-md-3 mb-3">
  <h6 class='text-uppercase '>Sunu Parrainage</h6>
  <hr class="mb-4 mt-0 d-inline-block mx-auto"/>

</div>

<div class="col-6 col-md-3 mb-3">
  <h6 class='text-uppercase'>Accès rapide</h6>
  <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
  <ul class="nav flex-column inria-serif-light-italic">
    <li class="nav-item mb-2"><a href="#" class="p-0 lien" >Consulter les statistiques</a></li>
    <li class="nav-item mb-2"><a href="#" class="p-0 lien">Parrainage</a></li>
    <li class="nav-item mb-2"><a href="#" class="p-0 lien">Candidats</a></li>
    <li class="nav-item mb-2"><a href="#" class="p-0 lien">Informations</a></li>
    <li class="nav-item mb-2"><a href="#" class="p-0 lien">Profil</a></li>

  </ul>
</div>

<div class="col-6 col-md-3 mb-3">
  <h6 class='text-uppercase '>liens utiles</h6>
  <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
  <ul class="nav flex-column inria-serif-light-italic">
    <li class="nav-item mb-2"><a href="#" class="p-0 lien">Ministere de la justice </a></li>
    <li class="nav-item mb-2"><a href="#" class=" p-0 lien">Formulaire D'inscription </a></li>
    <li class="nav-item mb-2"><a href="#" class="p-0 lien">Calendrier Annuel</a></li>
  </ul>
</div>

<div class="col-6 col-md-3 mb-3">
  <h6 class='text-uppercase'>contact</h6>
  <hr class="mb-4 mt-0 d-inline-block mx-auto"/>
  <ul class="nav flex-column num inria-serif-light-italic">
    <li class="nav-item mb-2"><p><i class="fas fa-home mr-3"></i>&nbsp;&nbsp;Cite Keur Gorgui, DK 13500, SN</p></li>
    <li class="nav-item mb-2"><p><i class="fas fa-envelope mr-3"></i>&nbsp;&nbsp; info&#64;DGE.sn</p></li>
    <li class="nav-item mb-2"> <p><i class="fas fa-phone mr-3"></i>&nbsp;&nbsp; + 221 33 234 567 88</p></li>
    <li class="nav-item mb-2"> <p><i class="fas fa-phone mr-3"></i>&nbsp;&nbsp; + 221 77 798 03 26</p></li>
  </ul>
</div>
</div>

<div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
    <p>&copy; 2025 SunuParrainage, All rights reserved.</p>
    <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-dark" href="#"><i class='fa-brands fa-facebook social'></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class='fa-brands fa-twitter social'></i></a></li>
        <li class="ms-3"><a class="link-dark" href="#"><i class='fa-brands fa-instagram social'></i></a></li>
    </ul>
</div>
</footer>
</div>

</div>