:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  background-color: #f8f9fa;
  width: 50%;
  margin: auto;
}

h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

input[type="file"] {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #0056b3;
  }

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

p {
  margin-top: 10px;
  font-size: 1rem;
  color: #28a745;
}

body{
  margin: 5px;
}
