<h2>Validation des Électeurs Corrigés</h2>

<div class="menu-container">
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Recherche..." />
  </div>
  <div *ngFor="let electeur of electeursCorriges | filter:searchQuery" class="electeur-item">
    <div class="electeur-details">
      <div class="electeur-info">
        <strong>{{ electeur.nom }} {{ electeur.prenom }}</strong>
        <p>{{ electeur.erreur }}</p>
        <p>{{ electeur.cin || electeur.dateNaissance || electeur.numElecteur || 'Non corrigé' }}</p>
      </div>
      <div class="electeur-status" [ngClass]="{'corrige': electeur.statut === 'Corrigé', 'en-attente': electeur.statut === 'En attente'}">
        <span>{{ electeur.statut }}</span>
      </div>
    </div>
  </div>
</div>

<button (click)="validerCorrections()">Valider les Corrections</button>
