<app-header></app-header>
<div class="title">
    <h2 style="padding: 15px; font-size: 35px;">Liste des candidats</h2>
</div>
<div class="search-container-second">
  <div class="row">
    <div style=" margin-left: -40px !important;">

      <hr>

      <div class="card-container">
        <div class="card" *ngFor="let formation of formationsData" style="width: 250px; ">
          <img [src]="formation.imageUrl" class="card-img-top" alt=" Iformation">
          <div class="card-body">
            <div class="card-logo">
              <img [src]="formation.logoUrl" alt="Logo" (click)="gotoSchoolPage()" style="cursor: pointer;">
            </div>
            <div class="card-rating">
              <i class="fas fa-star"></i>{{ formation.rating }}
            </div>
            <h5 class="card-title">{{ formation.title }}</h5>
            <div class="card-details">
              <span class="card-duration">{{ formation.niveau }}</span>
              <span class="card-location">{{ formation.location }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="pagination-container">
        <button class="btn" [disabled]="currentPage === 1" (click)="setPage(currentPage - 1)">
          &#x276E;
        </button>

        <ng-container *ngFor="let page of getPagination()">
          <button *ngIf="page !== '...'" class="btn" [ngClass]="{'active': page === currentPage}"
            (click)="setPage(page)">
            {{ page }}
          </button>

          <button *ngIf="page === '...'" class="btn" disabled>
            ...
          </button>
        </ng-container>

        <button class="btn" [disabled]="currentPage === totalPages" (click)="setPage(currentPage + 1)">
          &#x276F;
        </button>
      </div>
      <hr style="margin-top: 54px;">
    </div>
  </div>
</div>
  <div>

  </div>
  <app-footer></app-footer>