<h2>Gestion des Électeurs</h2>

<div class="menu-container">
  <button (click)="naviguer('uploadFile')">
    <mat-icon>cloud_upload</mat-icon> Importer la liste des électeurs
  </button>
  <button (click)="naviguer('probleme')">
    <mat-icon>error_outline</mat-icon> Électeurs avec des erreurs
  </button>
  <button (click)="naviguer('validation')">
    <mat-icon>check_circle</mat-icon> Validation des corrections
  </button>
</div>

<!-- Contenu dynamique -->
<div class="content">
  <router-outlet></router-outlet>
</div>
