<div class="container">
  <h2>Gestion des Électeurs</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Numéro de Carte</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let electeur of electeurs">
      <td>{{ electeur.id }}</td>
      <td>{{ electeur.nom }}</td>
      <td>{{ electeur.prenom }}</td>
      <td>{{ electeur.numCarte }}</td>
      <td>
        <button class="btn btn-warning" (click)="modifierElecteur(electeur)">Modifier</button>
        <button class="btn btn-danger" (click)="supprimerElecteur(electeur.id)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
