
<button  class="home-button" (click)="goToAccueil()" aria-label="Retour à l'accueil">
  <mat-icon>home</mat-icon>
</button>
<h2>Gestion des Électeurs</h2>

<!-- Statistiques -->
<div class="stats-container">
  <div class="stat-box">
    <mat-icon>people</mat-icon>
    <span>Total Électeurs</span>
    <strong>{{ totalElecteurs }}</strong>
  </div>
  <div class="stat-box error">
    <mat-icon>error</mat-icon>
    <span>Électeurs avec erreurs</span>
    <strong>{{ electeursAvecErreurs }}</strong>
  </div>
  <div class="stat-box success">
    <mat-icon>check_circle</mat-icon>
    <span>Électeurs corrigés</span>
    <strong>{{ electeursCorriges }}</strong>
  </div>
</div>

<!-- Menu de navigation -->
<div class="menu-container">
  <button (click)="naviguer('uploadFile')">
    <mat-icon>cloud_upload</mat-icon> Importer la liste des électeurs
  </button>
  <button (click)="naviguer('probleme')">
    <mat-icon>error_outline</mat-icon> Électeurs avec des erreurs
  </button>
  <button (click)="naviguer('validation')">
    <mat-icon>check_circle</mat-icon> Validation des corrections
  </button>
</div>



