<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">
      <img   src="assets/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: space-between;">
    <div>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" role="button">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" role="button" >Consultation des statistiques</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button"  >Parrainer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" role="button" >Candidats</a>
        </li>
        <li class="nav-item">
          <a style="border-radius: 10px; color:white; font-weight: 500; margin-left: 10px;"  class="nav-link bg-success" role="button" >Demo</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
        <ng-container>
          <button class="btn btn-outline-success my-2 my-sm-0 mr-3" type="button" >Se connecter</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="button" >S'inscrire</button>
        </ng-container>
        <ng-template #userConnected>
          <button class="btn btn-outline-danger my-2 my-sm-0 mr-3" type="button">Se deconnecter</button>
          <ng-container >
            <button class="btn btn-success my-2 my-sm-0" type="button" >Dashboard</button>
          </ng-container>
          <ng-template #regularUser>
            <a class="nav-link mr-3" href="#" title="Profil">
              <i class="fas fa-user" style="font-size: 30px; color:rgba(28, 34, 43, 1)"></i>
            </a>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </nav>