img{
    width: 80px;
}

.active-link {
    font-weight: bold;
    color: rgba(60, 89, 128, 1) !important;
    /* background-color: rgba(60, 89, 128, 1);
    border-radius: 5px;
    color: white !important; */
  }